<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OCR App</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/docs.css' %}" type="text/css">
  <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
</head>
<body>
  <header>
    <nav class="navbar navbar-light navbar-expand-sm fixed-top bg-info">
		  <a><img src="{% static 'images/logo.png' %}" width="50" height="50"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    	   <span class="navbar-toggler-icon"></span>
  	   </button>
		  <div class="collapse navbar-collapse" id="navbar1">
			   <ul class="navbar-nav navbar-right">
           <li class="nav-item active mr-2 ml-2 mb-1 mt-1">
             <a class="nav-link text-center" href="{% url 'main:index' %}">На главную</a>
           </li>
           <li class="nav-item active mr-2 ml-2 mb-1 mt-1">
             <a class="nav-link text-center" href="{% url 'main:query' page_number=1 %}">Мои запросы</a>
            </li>
            <li class="nav-item active mr-2 ml-2 mb-1 mt-1">
              <a class="nav-link text-center" href="{% url 'main:info' %}">О проекте</a>
            </li>
		   	</ul>
		  </div>
	  </nav>
  </header>
  <div id="main">
    <div id="pg-main">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="footer">
    <div id="foot" class="page-footer font-small grey darken-2">
      <div class="footer-copyright text-center py-3">
        <a class="text-light">© 2018 Copyright:</a>
        <a class="text-light">Дубровин Иван</a>
        <a class="btn btn-social-icon btn-github" href="https://github.com/IvanDubrowin">
          <span class="fa fa-github"></span>
        </a>
      </div>
    </div>
  </footer>
  </div>
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/jquery.cookie.js' %}"></script>
  <script src="{% static 'js/validator.min.js' %}"></script>
</body>
</html>
